@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat|Mukta&display=swap');
@font-face {
    font-family: 'Hansief-Rough';
    src: url('Hansief-Rough.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hansief-Rough';
    src: url('Hansief-Rough.woff') format('woff'), url('Hansief-Rough.ttf') format('truetype'), url('Hansief-Rough.svg#Hansief-Rough') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap|Barlow|EB+Garamond|Literata|Quicksand|Raleway|Teko|Yanone+Kaffeesatz&display=swap');

h1 {
    font-weight: normal;
    font-size: 150px;
    margin: 0 0 50px 0;
}

a {
    text-decoration: none;
    color: purple;
}

html {
    font-family: 'Hansief-Rough', sans-serif;
}

#home-body {
    margin: 0 0;
}

#home-header {
    text-align: center;
    padding: 50px 0 100px 0;
    /*background: url(https://live.staticflickr.com/65535/40942801383_2c0ebe1dbf_k.jpg);*/
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5), rgba(255, 255, 255, 1)), url(https://live.staticflickr.com/65535/40767787233_02907d74aa_k.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Hansief-Rough', sans-serif;
    background-position: center;
    color: gold;
    font-size: 50px;
    margin: 0;
}

.home-button-header {
    position: fixed;
    float: none;
    clear: both;
    font-size: 10px;
    margin: 5px;
    padding: 0px;
    background: white;
    height: 5%;
}

.home-button {
    border-radius: 50%;
    border: 2px solid grey;
}

#choice {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 50px;
}

.contact-headers {
    font-size: 20px;
}

.contacts {
    font-size: 15px;
    color: rgb(82, 80, 80);
    
}

.contacts, .contact-headers {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

#about-heading {
    font-size: 30px;
    margin: 20px 0;
}

#about-body {
    text-align: center;
}

#about-text {
    margin: 30px 150px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

#my-photo {
    border-radius: 50%;
    border: 2px solid;
    border-image: linear-gradient( black, white), 360deg;
}

.familiar-with {
    font-size: 20px;
    color: grey;
}

#skills-body {
    text-align: center;
}

.languages {
    margin: 10px;
    font-size: 25px;
}

.home-button-header {
    height: 10%;
    vertical-align: center;
    width: 100%;
    text-align: left;
    position: static;
}

.text-containers {
    position: relative;
}

.portfolio-images {
    float: left;
    width: 200px;
    margin: 10px;
    border-radius: 5%;
    padding: 0;
    border: solid black 2px;
}

.portfolio-titles {
    font-size: 50px;
}

.portfolio-explanations {
    font-size: 20px;
}

.portfolio-items {
    background: white;
}

.portfolio-text {
    margin: 0;
    width: 800px;
}

.spacer {
    height: 8px;
    background: linear-gradient(white, black, white);
}

#get-ready {
    height: 286.66px;
}

#automatic-modern-art {
    height: 301.81px;
}

#checkers{
    height: 288.92px;
}

body {
    margin: 0;
}

.portfolio-links {
    width: 50px;
    float: right;
}

#the-amazing-stopwatch {
    height: 299.5px;
}

text{
    font-family: 'Montserrat', sans-serif;
}



/*font-family: 'Montserrat', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Literata', serif;
font-family: 'Asap', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Teko', sans-serif;*/